body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/top-banner-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    font-size: 50px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
}

.flexible-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.primary-color {
    color: purple;
}

.secondary-color {
    color: #4b214b;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.passive-talents {
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px purple;
}

.skill-icon {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.link-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, brown);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

#keqing-potrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#passive-header h1 {
    padding-left: 5%;
}

#thunderingpenance {
    border-left: 5px solid;
    border-image: linear-gradient(blue, pink);
    border-image-slice: 1;
}

#aristocraticdignity {
    border-left: 5px solid;
    border-image: linear-gradient(pink, purple);
    border-image-slice: 1;
}

#landoverseer {
    border-left: 5px solid;
    border-image: linear-gradient(purple, blue);
    border-image-slice: 1;
}