body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/top-banner-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    font-size: 50px;
}

section{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.primary-color {
    color: purple;
}

.secondary-color {
    color: #4b214b;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.skill-icon {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.link-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, brown);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

#keqing-potrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}